@font-face {
    font-family: 'Jet Brains';
    src: url("../fonts/JetBrainsMono-Thin.ttf");
    font-weight: normal;
}

:root {
    --background_color: #0c0d11;
    --accent_color1: #7ebab5;
    --accent_color2: #505263;
    --text_color1: #f6f5f5;
    --text_color2: #b0d4d1;
    --text_color3: #f2aa61;
}

body {
    background-color: var(--background_color);
}

.button_other {
    font-family: Jet Brains;
    color: var(--accent_color2);
    text-decoration: none;
}

.button_other:hover {
    color: var(--text_color2);
}

.button_home {
    font-family: Jet Brains;
    color: var(--accent_color1);
    font-size: 30px;
    font-weight: 700;
    text-decoration: none;
}

.button_home:hover
{
    color: var(--text_color3);
}

.header {
    align-items: center;
    justify-content: center;
    width: 100%;
}

.content {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.nav {
    display: block;
    width: 60%;
    min-height: 80px; /* */
    margin: auto;
}

.title {
    float: left;
}

.nav .links {
    margin-top: 1.35%; /* */
    float: right;
}

.nav .links a {
    padding-right: 12px;
}

.log_title {
    font-family: Jet Brains;
    font-weight: bold;
    color: var(--text_color1);
    margin-left: 5px;
    top: 100px;
}

.log_button {
    position: relative;
    margin-left: 5px;
    margin-top: 5px;
    font-family: Jet Brains;
    font-weight: bold;
    color: var(--text_color1);
    background: none!important;
    border: none;
    padding: 0!important;
    font-size: 16px;
}

.log_button.collapse {
    background-color: #777;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: fit-content;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
}

.log_button:hover {
    color: var(--text_color2);
}

.log_title:hover {
    color: var(--text_color2);
}

.log_paragraph {
    font-family: Jet Brains;
    color: var(--text_color1);
    margin-left: 2%;
    margin-top: 5px;
}

.log_comment {
    font-family: Jet Brains;
    color: var(--text_color1);
    margin-left: 3%;
    font-size: 14px;
}

.log_image {
    margin-left: 2%;
    margin-top: 5px;
    position: relative;
}

.vl {
    border-left: 1px solid var(--accent_color2);
    height: 100%;
    top: 20px;
    margin-left: 30%;
}

.hl {
    border-left: 10px solid var(--accent_color2);
    height: 1px;
}

.vl_comment {
    border-left: 1px solid var(--accent_color2);
    position: relative;
    display: block;
    height: 23px;
    margin-top: -5px;
    margin-left: 1.4%;
}

.vl_comment.media {
    margin-top: 11px;
}

.vl_comment.two {
    height: 41px;
}

.vl_comment.three {
    height: 58px;
}

.showcase {
    font-family: Jet Brains;
    color: var(--text_color1);
    margin-left: 30%;
}

.question {
    font-family: Jet Brains;
    color: var(--text_color1);
    margin-left: 30%;
    font-weight: bold;
}

.answer {
    font-family: Jet Brains;
    color: var(--text_color1);
    margin-left: 31%;
}

/* animation shit here */

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.fade_in {
    -webkit-animation: fadein 1s;
    -moz-animation: fadein 1s;
     -ms-animation: fadein 1s;
      -o-animation: fadein 1s;
         animation: fadein 1s;
}